<!DOCTYPE HTML>
<html>
	<head>
		<title>404 Error | ACE</title>
        <link href="views/assets/css/style.css" rel='stylesheet' type='text/css'/>
		<link rel="shortcut icon" href="views/assets/images/owl.ico" type="image/icon">
	</head>

	<body>

		<div class="four">
			<p class="page-error">Oops! Aceasta pagina nu exista!</p>
			<a href="index.php?m=home" class="hvr-shutter-in-horizontal">Acasa</a>
		</div>
			<!---->
		<div class="copy">
			<p> &copy; Facultatea de Automatica, Calculatoare si Electronica, 2016 </p>
		</div>

	</body>
</html>